.hero {
  background-color: rgb(240, 210, 215);
}
.navbar {
  background-color: rgb(253, 242, 244) !important;
}

.profile-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 57% 43% 70% 30% / 30% 68% 32% 70%;
}

li {
  list-style-type: none;
}

span.card-listing {
  background-color: rgb(235, 193, 193);
  margin-block: 1px;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .profile-img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 57% 43% 70% 30% / 30% 68% 32% 70%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .music-cards {
    width: 25%;
  }
}
